// .sites-layout {
  // margin-left: 5%;
  // font-size: 10px;

  //

  .creates {
    .create {
      color: #80f816;
      font-weight: bold;
      font-size: 40px;
      width: 18%;
    }

    .thesites {
      color: #0c091d;
      font-weight: bold;
      font-size: 40px;
      float: left;
      margin-top: -76px;
      margin-left: 195px;
      width: 260px;
    }
  }
  .navbar-brand-subscriber {
    color: #80f816;
  }

  .card-footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #343a40;
      color: white;
      text-align: center;
  }

 .container img {
   align-content: center;
    height: 120px;
    width: 120px;
    margin-top: 10px;
    margin-bottom: 350px;
  }

  .dev {
    margin-top: 50px;
    margin-left: 45px;
    width: 312px;
  }
  // html, body {height:100%;}

  // .footer {
  //   color: #feffff;
  //   position: absolute !important;
  //   bottom: 0 !important;
  //   width: 100% !important;
  // }

  // .page-item.active .page-link {
  //   z-index: 2;
  //   color: #fff;
  //   background-color: #024457;
  //   border-color: #024457;
  // }
// }
